build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
/.architectury-transformer/

# IThundxr - I keep the wiki repo under this one to make editing easier
wiki/
